@charset 'utf-8';
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquare",sans-serif;
}
ul, li, ol {
  list-style: none;
}
a {
  text-decoration: none;
  outline: 0;
}
.hide {  
  position: absolute;
  text-indent: -99999px;
  overflow: hidden;
}
header {
  width: 100%;
}
header .inner {
  width: 1180px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
header h1 {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 40px;
  
}
header h1 span {
  font-size: 50px;
  font-style: italic;
  color: #314085;
  margin-right: 4px;
}
header h1 a {
  color: #333;
  font-weight: 800;
}
header .am {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
}
header .am a {
  font-size: 20px;
  color: #53a6a0;
  font-weight: 600;
}
header .tel {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -1px;
}
header .tel .fas {
  margin-right: 6px;
  font-size: 30px;
  color: #ff7200;
  transform: rotate(-30deg);
}

main .visual {
  width: 100%;
  border-top: 10px solid #5e77b5;
  background-color: #fff;
  background-image: linear-gradient(45deg, #efeefc 33%, transparent 33%, transparent 66%, #efeefc 66%),linear-gradient(135deg, #efeefc 33%, transparent 33%, transparent 66%, #efeefc 66%);
  background-size: 4px 4px;
}

main .visual .inner {
  width: 1180px;
  height: 290px;
  position: relative;
  margin: 0 auto;
}
main .visual .pic {
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 250px;
  height: 250px;
}
main .visual .text {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
}
main .visual .text .text1 {
  font-size: 50px;
  font-weight: bold;
}
main .visual .text .text1 span {
  color: #fd3278;
  font-weight: 800;
}
main .visual .text .text2 {
  margin-top: 20px;
  font-size: 30px;
  color: #822d49;
  font-weight: bold;
}
main .visual .text .text2 span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}
main .content {
  margin-bottom: 10px;
}
main .content .inner {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 510px 1fr;
  -ms-grid-columns: 510px 1fr;
  width: 1180px;
  margin: 0 auto;
  padding: 10px 0;
  background: #f5e3e3;
}
main .content .left_cont {
  margin-right: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .content .left_cont h3 {
  margin-bottom: 2px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: #822d49;
}
main .content .left_cont p {
  font-size: 28px;
  font-weight: 800;
  color: #ff0356;
  text-align: center;
}
main .content .left_cont form {
  margin: 20px auto;
  width: 70%;
}
main .content .left_cont .form-box label {
  display: inline-block;
  padding: 10px 0;
  width: 80px;
  font-size: 18px;
  font-weight: 600;
}
main .content .left_cont .form-box:nth-child(1) input {
  width: 212px;
}
main .content .left_cont .form-box:nth-child(2) input {
  width: 158px;
}
main .content .left_cont .form-box:nth-child(3) input {
  width: 158px;
}
main .content .left_cont .form-box input {
  padding: 2px;
  height: 30px;
  outline: none;
}
main .content .left_cont .form-box input[type=button] {
  width: 36px;
  height: 30px;
  color: #fff;
  background: #333132;
  border: none;
  cursor: pointer;
}
main .content .left_cont .form-box select {
  height: 30px;
  font-size: 14px;
  vertical-align: middle;
}
main .content .left_cont .form-check {
  padding: 10px 0;
  text-align: center;  
}
main .content .left_cont .form-check input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
main .content .left_cont button {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  background: #0c5aa4;
  color: #fff;
  letter-spacing: -1px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}
main .content .left_cont button i {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
main .content .right_cont {
  position: relative;
  padding: 10px 20px;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .content .right_cont h3 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 800;
  color: #1f23da;
}
main .content .right_cont p {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 22px;
  font-weight: 500;
}
main .content .right_cont p span {
  color: #1f23da;
  font-weight: bold;
}
main .content .right_cont ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .content .right_cont li {
  display: flex;
  flex-basis: 32%;
  position: relative;
  height: 100px;
  margin-bottom: 8px;
  background: #fff;
  border: 2px solid #fcaf17;
  border-radius: 20px;
}
main .content .right_cont li div {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #c6c6c6;
}
main .content .right_cont li div img {
  display: block;
  margin: 0 auto;
  height: 50px;
}
main .content .right_cont li span {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 130px;
  padding: 4px 10px;
  font-size: 18px;
  background: #f4f2f3;
  color: #a89a9a;
  font-weight: 600;
  cursor: pointer;
}
main .content .right_cont li span i {
  vertical-align: top;
  margin-left: 6px;
}
main .counseling .inner {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr;
  width: 1180px;
  margin: 0 auto 10px;
  padding: 20px 0;
  background: #1e4d82;
}
main .counseling .inner article:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .counseling .inner article:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .counseling .inner article:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .counseling .inner article {
  position: relative;
  width: 380px;
  height: 250px;
  background: #fff;
  border-radius: 5px;
  margin-left: 6px;
}
main .counseling .inner article h3 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  background: #bd3737;
  border-radius: 4px 4px 0 0;
}
main .counseling .inner article:nth-child(2)::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../image/pig.jpg) no-repeat;
  width: 100px;
  height: 83px;
  border-radius: 0 0 4px 0;
}
main .counseling .inner article:nth-child(2) h3 {
  background: #40aac1;
}
main .counseling .inner article .live ul {
  text-align: center;
}
main .counseling .inner article .live ul li:first-child {
  margin-top: 8px;
}
main .counseling .inner article .live li {
  font-size: 14px;
  margin: 6px 0;
}
main .counseling .inner article .live li span {
  padding: 2px;
  margin-left: 20px;
  color: #fff;
}
main .counseling .inner article .live li .p {
  background: #e54ec8;
}
main .counseling .inner article .live li .s {
  background: #6899cb;
}
main .counseling .inner article .live li .t {
  background: #84c239;
}
main .counseling .inner article .event p {
  font-size: 18px;
  font-weight: 700;
  color: #655959;
  padding: 16px;
  line-height: 24px;
  z-index: 100;
}
main .counseling .fastcounsel form {
  width: 80%;
  margin: 20px auto 0 auto;
}
main .counseling .fastcounsel .form-box label {
  display: inline-block;
  padding: 8px 0;
  width: 80px;
  font-size: 18px;
}
main .counseling .fastcounsel .form-box:nth-child(1) input {
  width: 204px;
}
main .counseling .fastcounsel .form-box:nth-child(2) input {
  width: 152px;
}
main .counseling .fastcounsel .form-box input {
  height: 26px;
  outline: none;
}
main .counseling .fastcounsel .form-box select {
  height: 26px;
}
main .counseling .fastcounsel .form-check {
  margin: 10px 0;
  text-align: center;
}
main .counseling .fastcounsel .form-check input {
  vertical-align: middle;
  margin-top: -2px;
  width: 16px;
  height: 16px;
}
main .counseling .fastcounsel button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: #bd3737;
  cursor: pointer;
}
main .list .inner {
  width: 1180px;
  margin: 0 auto;
  border-top: 2px solid #1199a5;
}
main .list h2 {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #9fd6db;
}
main .list ul li:last-child {
  border-bottom: none;
}
main .list ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
main .list li .b_logo {
  width: 130px;
  margin-left: 30px;
}
main .list li .b_logo img{
  width: 100%;
}
main .list li .insurance {
  width: 464px;
  margin: 0 30px;
  color: #4c4c4c;
}
main .list li .insurance dt {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
}
main .list li .insurance dd {
  font-size: 14px;
}
main .list li .insurance dd:last-child {
  margin-top: 6px;
  color: #bababa;
}
main .list li .condition {
  width: 180px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  font-size: 14px;
}
main .list li .condition dt:nth-child(1), main .list li .condition dt:nth-child(5) {
  border: 1px solid #0f57b1;
  color: #0f57b1;
}
main .list li .condition dt:nth-child(3), main .list li .condition dt:nth-child(7) {
  border: 1px solid #177010;
  color: #177010;
}
main .list li .condition dt {
  flex: 0 0 18%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  padding: 1px 0;
  margin-bottom: 4px;
}
main .list li .condition dd {
  flex: 0 0 70%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .list li .btn {
  width: 256px;
  margin: 0 30px;
  text-align: center;
}
main .list li .btn button {
  width: 80%;
  padding: 8px 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
main .list li .btn button:nth-child(1) {
  background: #bd3736;
  margin-bottom: 10px;
}
main .list li .btn button:nth-child(2) {
  background: #777a7f;
}
footer {
  width: 100%;
  padding: 80px 0px;
  background: #ededed;
}
footer .inner {
  width: 1180px;
  margin: 0px auto;
}
footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
footer .inner .ft_logo {
  color: #999; 
  float: left;
}
footer .inner ul {
  float: right;
}
footer .inner ul li {
  float: left; margin-left: 30px;
}
footer .inner ul li a {
  color: #888;
}
footer .inner address {
  width: 100%;
  float: left;
  margin-top: 30px;
  border-top: 1px solid #777;
  padding-top: 40px;
  font: 14px/1.7 "arial";
  color: #888;
  letter-spacing: 1px;
}
footer .inner .copy {
  width: 100%;
  float: left;
  font-size: 12px;
  color: #777;
  letter-spacing: 1px;
  margin-top: 30px;
}